body {
  padding-top: 50px;
/*  background-color: #aaa;*/
}
/*.navbar-inverse .navbar-toggle .icon-bar {
    background-color: #aaa;*/
}
.starter-template {
  padding: 40px 15px;
  text-align: center;
}
img{
  
}
@media 
img{
  width: auto;
  height: 600px;
}
/*ul{
  font-size: 16px;
}*/